{% extends 'base.html.twig' %}


{% block body %}
<div class="contenu">
    <h3>Formulaire hygiène bucco-dentaire</h3>

    {{ form_errors(formulaireHabitude) }} 

    {{ form_start (formulaireHabitude) }}

    {{ form_widget (formulaireHabitude) }} 

        <button type="submit" class="btn">Enregistrer</button>

    {{ form_end(formulaireHabitude) }}

</div>
{% endblock %}
