{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}

<div class="contenu">
    <h2>Bienvenue {{ app.user.prenom}} !</h2>
</div>

{% endblock %}

