{% extends "base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue1') }}
{% endblock %}


{% block body %}

Je suis la vue 1



<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/images/image.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Exemple 1</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{{ path ("vue2") }}" class="btn btn-primary">Lire plus</a>
    </div>
</div>

{% endblock %}
