{# ceci est une vue partielle #}

{% set titreConseil = ['Conseil 1','Conseil 2','Conseil 3','Conseil 4'] %}
<div class="contenu">
    <h3>Conseils personnalisés</h3>
    <div class="card-container">
        {% set displayedCategories = [] %}
        {% for conseil in conseils %}
            {% if conseil.categorie.nom not in displayedCategories %}
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{ conseil.categorie.nom }} </h4>
                        {# il faut changer le nom des catégories #}
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>{{ conseil.titre }}</li>
                            <li>{{ conseil.contenu }}</li>
                        </ul>
                    </div>
                </div>
                {% set displayedCategories = displayedCategories|merge([conseil.categorie.nom]) %}
            {% endif %}
        {% endfor %}
    </div>
</div>
