{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('apropos') }}
{% endblock %}

{% block title %}À propos{% endblock %}

{% block body %}
<div class="container">
    <div class="about-section">
        <div class="about-content">
            <h1>À propos de  <span class="brand-name">SmileCare</span></h1>
            <p>Notre équipe est passionnée par la santé dentaire et s'engage à fournir les meilleurs outils pour vous aider à maintenir une bonne hygiène bucco-dentaire.</p>
            <p class="fonction">Technologies utilisées : </p>
            Symfony, PHP, mySQL
            <p>Notre application permet de suivre votre hygiène dentaire de manière simple et efficace. Vous pouvez remplir un formulaire pour enregistrer vos habitudes quotidiennes, puis consulter un tableau de bord pour visualiser votre évolution.</p>
        </div>
        <div class="about-image">
            <img src="{{ asset('images/scene.png') }}" alt="À Propos de notre application">
        </div>
    </div>
</div>

{% endblock %}