@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital@0;1&family=Satisfy&display=swap');

body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
    
    /* @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    } */
    /* .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    } */

    /* @media (max-width: 768px) {
        .sidebar {
            width: 240px; /* Largeur de la sidebar pour les écrans plus petits 
        }}*/

.logo {
    position: absolute;
    top: 20px;
    left: 70px;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Styles pour les éléments de la liste dans la barre de navigation */
.navbar-nav {
    margin-right: 5%;
}
.navbar-nav li {
    margin-right: 80px; /* Espace à droite entre les éléments */
}

.navbar-nav a {
    color: white; /* Couleur du texte en blanc */
    text-decoration: none; /* Supprimer la décoration de lien */
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.msg {
    color: white;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 2px;
    /* font-weight: bold; */
}
