@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:ital@0;1&family=Satisfy&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    background: rgb(40, 104, 229);
    padding: 20px;
    width: 100%;
    height: 30px;
    top: 0;
}

.left_area{
    margin-left: 60px;
}

.left_area a{
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    letter-spacing: 2px;
}

.left_area a:hover{
    color: #4195ef;
}

.help_btn{
    text-decoration: none; /* Supprimer les soulignements par défaut des liens */
    color: rgb(255, 255, 255); /* Couleur du lien (peut être ajustée) */
    font-family:'Montserrat', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    padding: 5px;
    float: right;
    margin-top: -30px;
    margin-right: 90px;
}  

.help_btn:hover{
    color: #4195ef;
}  

.sidebar {
    background: rgb(250, 249, 249);
    top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    border: 1px solid rgb(237, 237, 237);
}
    
.sidebar .profile_image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.sidebar h4{
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
    font-family:'Montserrat', sans-serif;
}

.sidebar a{
    color: #000000;
    font-family:'Montserrat', sans-serif;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #007bff;
    color: white;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover{
    color: #4195ef;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
/* Styles pour le hero-section */
#check:checked ~ .hero-section{
    margin-left: 210px;
}
#check:checked ~ .features-section{
    margin-left: 210px;
}

#check{
    display: none;
}
.brand-name {
    font-family: 'Satisfy', cursive;
    letter-spacing: 2px;
}

/* Style pour la flèche */
.arrow {
    position:relative;
    top: 20px;
    bottom: 20px;
    right: 20px;
}

.arrow a {
    color: rgb(40, 104, 229);
    font-size: 2rem;
}

.hero-section {
    font-family:'Montserrat', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-left: 300px;
    margin-bottom: 200px;
    padding: 50px;
    width: 1050px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.image-container {
    width: 300px;
    margin-right: 80px;
}

.image-container img{
    width: 300px;
}

.text-content {
    flex: 1;
    text-align: center;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Styles pour la section des fonctionnalités */
.features-section {
    text-align: center;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-top: 0;
    margin-left: 300px;
    margin-bottom: 85px;
    padding: 50px;
    width: 1050px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.feature-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-section h2{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
}

.feature {
    width: 28%;
    margin: 0 15px;
    text-align: center;
    margin-bottom: 20px;
}

.feature i {
    font-size: 24px;
}

.feature h3 {
    margin-top: 10px;
}

.feature p {
    font-size: 14px;
}

.btn {
    margin-top: 20px;
}