/* Styles pour le formulaire hygiène bucco-dentaire */

.page{
    margin-left: 20%;
}
.contenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info{
    flex: 1;
    text-align:center;
    /* background-color: #f16464; */
    height: 100%;
}

.form{
    flex:2;
    margin: 10%;
}

h3 {
    font-size: 10px;
    letter-spacing: 3px;
    color: #007bff;
    margin-bottom: 20px; /* Espace sous le titre */
}

/* Styles pour les messages d'erreur du formulaire */
.form-errors {
    color: red;
}

/* Styles pour le bouton Enregistrer */
.send {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Styles pour les champs de formulaire */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style pour les étiquettes des champs de formulaire */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row label {
    flex: 1;
}

.form-row .form-widget {
    flex: 2;
}

.form-date {
    display: flex;
}

.form-date .form-widget {
    flex: 1;
}

.form-radio {
    display: flex;
}

.form-radio label {
    margin-right: 10px;
}