/* première div qui englobe le tout */
body {
    background-color:  rgb(245, 243, 243);
}

#check:checked ~ .tab-bord{
    margin-left: 110px;
}

#check:checked ~ #vue_conseils{
    margin-left: 110px;
}

#check{
    display: none;
}

/* div qui englobe le tab et le graph */
.tab-bord{
    display: flex;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 50px;
    transition: 0.5s;
}

/* div qui englobe le tab */
.tableau-hab {
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1;
    flex-direction: column;
    padding-top: 0;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.bordered-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Bordure plus fine */
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
}

.bordered-table th, .bordered-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: white;
}

.bordered-table th {
    background-color: rgb(40, 104, 229); /* Couleur de fond pour les en-têtes */
    color: white;
}

.fa-check {
    color: green;
}

.fa-xmark {
    color: red;
}

/* div qui englobe le graph */
#vue_graphique {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.chart-container canvas {
    background-color: white; /* Fond blanc pour le graphique */
    width: 350px;
    height: 80px;

}

.contenu{
    width: 600px;
}

/* pour conseils  */
#vue_conseils{
    background-color:white;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 5%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.5s;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-cons {
    width: calc(50% - 20px); /* Ajuste la largeur des cartes pour qu'elles prennent exactement la moitié de la largeur du conteneur parent */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box; /* Assure que la largeur inclut les bordures */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.card-content-cons{
    display: flex;
}

.image {
    flex: 0 0 40%; /* Ajuste la largeur de l'image selon vos besoins */
}

.image img {
    width: 100%;
    height: auto;
}

.text {
    flex: 1; /* Le texte prend le reste de l'espace disponible */
    padding: 20px;
}

.title {
    font-size: 18px;
    margin-top: 0;
}

.description {
    font-size: 14px;
}

.icon-list {
    list-style: none;
    padding: 0;
}

.icon-list li {
    margin-bottom: 5px;
    font-size: 14px;
}

.icon-list li i {
    margin-right: 10px;
    color: #007bff; /* Couleur des icônes, changez selon vos besoins */
}


.tab-bord h3, #vue_graphique h3, #vue_conseils {
    font-family:'Montserrat', sans-serif;
    letter-spacing: 2px; 
}

.tab-bord p, #vue_graphique p, #vue_conseils p{
    margin-top: 0;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;

}

.form-rep label.classe-supplementaire {
    /* margin-left: 12%; */
    font-weight: bold;
}