/* première div qui englobe le tout */
body {
    background-color:  rgb(245, 243, 243);
}

#check:checked ~ .tab-bord{
    margin-left: 110px;
}

#check:checked ~ #vue_conseils{
    margin-left: 110px;
}

#check{
    display: none;
}

/* div qui englobe le tab et le graph */
.tab-bord{
    display: flex;
    margin-top: 120px;
    margin-left: 300px;
    margin-right: 50px;
    transition: 0.5s;
}

/* div qui englobe le tab */
.tableau-hab {
    display: flex;
    align-items: center;
    background-color: white;
    flex: 1;
    flex-direction: column;
    padding-top: 0;
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.bordered-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd; /* Bordure plus fine */
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
}

.bordered-table th, .bordered-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: white;
}

.bordered-table th {
    background-color: rgb(40, 104, 229); /* Couleur de fond pour les en-têtes */
    color: white;
}

.fa-check {
    color: green;
}

.fa-xmark {
    color: red;
}

/* div qui englobe le graph */
#vue_graphique {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    transition: 0.5s;
}

.chart-container canvas {
    background-color: white; /* Fond blanc pour le graphique */
    width: 350px;
    height: 80px;

}

.contenu{
    width: 600px;
}

/* pour conseils  */
#vue_conseils{
    background-color:white;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 50px;
    margin-bottom: 5%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.5s;
}

/* cards pour les conseils */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les cartes horizontalement */
}

.card{
    flex: 0 0 calc(40% - 10px); /* Ajustez la largeur des cartes en fonction de vos besoins */
    margin: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(249, 249, 249);
}

.card-header {
    background-color: rgb(40, 104, 229);
    color: #fff;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-size: 20px;
    letter-spacing: 3px;
    margin: 0;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

.card-body {
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.tab-bord h3, #vue_graphique h3, #vue_conseils {
    font-family:'Montserrat', sans-serif;
    letter-spacing: 2px; 
}

.tab-bord p, #vue_graphique p, #vue_conseils p{
    margin-top: 0;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 12px;
    font-weight: bold;

}

.form-rep label.classe-supplementaire {
    /* margin-left: 12%; */
    font-weight: bold;
}