{% extends "base.html.twig" %}

{% block body %}

<div style="width: 40%; margin: 0 auto;">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let dateBrossage = {{ chartData.dateBrossage|json_encode|raw }};
    let nbBrossage = {{ chartData.nbBrossage|json_encode|raw }};
    let dateJour = new Date();

    let semaine = [];

    //afficher les 7 dates précedantes et 7 suivantes
    for (let i = -7; i <= 7; i++) {
        let date = new Date(dateJour);
        date.setDate(dateJour.getDate() + i);
        semaine.push(date.toISOString().split('T')[0]); //divise en 2 puis recupère la première partie 
    }

    // Créer les tableaux de labels et de données
    let labels = semaine;
    let data = [];
    
    //voir si les dates correspondent si  oui push date sinon push null
    for (let i = 0; i < semaine.length; i++) {
        let dateIndex = dateBrossage.indexOf(semaine[i]);
        //  vérifier si "dateIndex" n'est pas égal à -1 = date trouvée dans semaine
        if (dateIndex !== -1) {
            data.push(nbBrossage[dateIndex]);
        } else {
            data.push(null);
        }
    }

    // Code pour créer le graphique avec Chart.js
    let ctx = document.getElementById('myChart').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Fréquence de brossage',
                data: data,
                backgroundColor: 'rgb(65, 152, 182)',
                borderColor: 'rgb(35, 76, 91)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock body %}